header{
    color: white;
    background: linear-gradient(0deg, #215258, #3ed);
    text-align: center;
    font-size: 25px;
}
.header1{
    font-size: 40px;
}

.logo{
    border-radius: 25%;
}

body {
    background-color: #215258;
    padding: 15px;
    text-align: center
}

footer {
    font-size: 10px;
    color: white;
    text-align: right;
}